<div class="container">
  <div class="todo-list">
    <form (ngSubmit)="add(taskNgForm)" #taskNgForm="ngForm">
      <div class="input-group">
        <input name="date" [matDatepicker]="picker" [(ngModel)]="date" />
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div class="input-group">
        <input
          #newTask="ngModel"
          required
          minlength="4"
          name="taskTitle"
          type="text"
          placeholder="Todo"
          [(ngModel)]="newTaskTitle"
        />
        <button class="add-button">+</button>
      </div>
      <div
        *ngIf="newTask.invalid && (newTask.touched || newTask.dirty)"
        class="validation-error"
      >
        <div *ngIf="newTask.errors?.['required']">Task title is required.</div>
        <div *ngIf="newTask.errors?.['minlength']">
          Task title must have at least 4 characters.
        </div>
      </div>
    </form>
    <table class="table">
      <tr
        *ngFor="let task of tasks; let i = index"
        [class.even]="i % 2 == 0"
        [class.odd]="i % 2"
      >
        <td>
          <pre [class.is-done]="task.isDone">{{ task.title }}</pre>
        </td>
        <td>
          <button class="remove-button" (click)="remove(task)">X</button>
          <button class="done-button" (click)="task.toggleIsDone()">
            {{ task.isDone ? "Undo" : "Done" }}
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
